@font-face {
    font-family: iran-yekan;
    src: url(/assets/font/IRANYekanWebRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: iran-yekan;
    src: url(/assets/font/IRANYekanWebBold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}